<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uni.icecream.member.dao.MemberMapper">

    <!--  회원정보조회  -->
    <select id="selectByMemberCode" resultType="MemberDto">
        SELECT
            MEMBER_CODE
             ,  MEMBER_ID
             ,  MEMBER_NAME
             ,  MEMBER_PASSWORD
             ,  MEMBER_ROLE
             ,  MEMBER_EMAIL
        FROM ICE_MEMBER
        WHERE MEMBER_CODE = #{memberCode}
    </select>

    <select id="selectByEmail" resultType="MemberDto">
        SELECT
                MEMBER_CODE
             ,  MEMBER_ID
             ,  MEMBER_NAME
             ,  MEMBER_PASSWORD
             ,  MEMBER_ROLE
             ,  MEMBER_EMAIL
        FROM ICE_MEMBER
        WHERE MEMBER_EMAIL = #{email}
    </select>

    <select id="findByEmail" resultType="MemberDto">
        SELECT
                MEMBER_CODE
             ,  MEMBER_ID
             ,  MEMBER_NAME
             ,  MEMBER_PASSWORD
             ,  MEMBER_ROLE
             ,  MEMBER_EMAIL
        FROM ICE_MEMBER
        WHERE MEMBER_EMAIL = #{email}
    </select>

    <!-- 로그인  -->
    <select id="findByMemberId" resultType="MemberDto">
        SELECT
                MEMBER_CODE
             ,  MEMBER_ID
             ,  MEMBER_NAME
             ,  MEMBER_PASSWORD
             ,  MEMBER_ROLE
             ,  MEMBER_EMAIL
        FROM ICE_MEMBER
        WHERE MEMBER_ID = #{memberId}
    </select>

    <!-- 회원가입 -->
    <insert id="insertMember" parameterType="MemberDto">
        INSERT INTO ICE_MEMBER
        (
            MEMBER_CODE,
            MEMBER_ID,
            MEMBER_NAME,
            MEMBER_PASSWORD,
            MEMBER_EMAIL
        )
        VALUES
        (
            SEQ_MEMBER_CODE.NEXTVAL,
            #{memberId},
            #{memberName},
            #{memberPassword},
            #{memberEmail}
        )
    </insert>

    <!--  회원정보수정  -->
    <update id="updateMyInfo" parameterType="MemberDto">
        UPDATE ICE_MEMBER
        SET
            MEMBER_ID = #{memberId},
            MEMBER_NAME = #{memberName},
            MEMBER_PASSWORD = #{memberPassword},
            MEMBER_EMAIL = #{memberEmail}
        WHERE MEMBER_CODE = #{memberCode}
    </update>

    <!--  회원 탈퇴  -->
    <delete id="deleteMyInfo" parameterType="Long">
        DELETE
        FROM ICE_MEMBER
        WHERE MEMBER_CODE = #{MEMBER_CODE}
    </delete>
</mapper>
